<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="EnoFer Category"
            id="com.fervort.enofer.commands.category">
      </category>
      <command
            categoryId="com.fervort.enofer.commands.category"
            id="com.fervort.enofer.commands.main.connectiondetails"
            name="Connection Details">
      </command>
      <command
            categoryId="com.fervort.enofer.commands.category"
            id="com.fervort.enofer.commands.main.extractprogram"
            name="Extract Program">
      </command>
      <command
            categoryId="com.fervort.enofer.commands.category"
            id="com.fervort.enofer.commands.main.importprogram"
            name="Import Program">
      </command>
      <command
            categoryId="com.fervort.enofer.commands.category"
            id="com.fervort.enofer.commands.main.compileprogram"
            name="Compile Program">
      </command>
      <command
            categoryId="com.fervort.enofer.commands.category"
            id="com.fervort.enofer.commands.main.about"
            name="About Plugin">
      </command>
      <command
            defaultHandler="com.fervort.enofer.handlers.ExtractProgramHereHandler"
            id="com.fervort.enofer.commands.extractprogramhere"
            name="Extract Program Here">
      </command>
      <command
            defaultHandler="com.fervort.enofer.handlers.ImportThisProgramHandler"
            id="com.fervort.enofer.commands.importthisprogram"
            name="Import this Program">
      </command>
      <command
            defaultHandler="com.fervort.enofer.handlers.CompileThisProgramHandler"
            id="com.fervort.enofer.commands.compilethisprogram"
            name="Compile this Program">
      </command>
      <command
            defaultHandler="com.fervort.enofer.handlers.ImportAndCompilerProgramHandler"
            id="com.fervort.enofer.commands.insertandcompileprogram"
            name="Insert and Compile this Program">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="com.fervort.enofer.commands.main.about"
            class="com.fervort.enofer.handlers.AboutHandler">
      </handler>
      <handler
            class="com.fervort.enofer.handlers.ConnectionDetails"
            commandId="com.fervort.enofer.commands.main.connectiondetails">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
         <!-- remove binding if needed
      <key
            commandId="com.fervort.enofer.commands.sampleCommand"
            contextId="org.eclipse.ui.contexts.window"
            sequence="M1+1"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </key>
      -->
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               label="EnoFer"
               id="EnoFer.menus.EnoFerMenu">
            <command
                  commandId="com.fervort.enofer.commands.main.extractprogram"
                  style="push">
            </command>
            <command
                  commandId="com.fervort.enofer.commands.main.importprogram"
                  style="push">
            </command>
            <command
                  commandId="com.fervort.enofer.commands.main.compileprogram"
                  style="push">
            </command>
            <command
                  commandId="com.fervort.enofer.commands.main.connectiondetails"
                  style="push">
            </command>
            <command
                  commandId="com.fervort.enofer.commands.main.about"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="EnoFer.toolbars.sampleToolbar">
            <command
                  commandId="com.fervort.enofer.commands.main.connectiondetails"
                  icon="icons/EnoFerMenu.png"
                  tooltip="Enovia Connection Details"
                  id="EnoFer.toolbars.connectiondetails">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               icon="icons/EnoFerMenu.png"
               label="Eno Fer">
            <command
                  commandId="com.fervort.enofer.commands.extractprogramhere"
                  style="push">
            </command>
            <command
                  commandId="com.fervort.enofer.commands.importthisprogram"
                  style="push">           
            </command>
            <command
                  commandId="com.fervort.enofer.commands.compilethisprogram"
                  style="push">
            </command>
            <command
                  commandId="com.fervort.enofer.commands.insertandcompileprogram"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.fervort.enofer.preferences.EnoFerPreferences"
            id="com.fervort.enofer.preferencepages.settings"
            name="EnoFer Settings">
      </page>
   </extension>

</plugin>
